.quote {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #333333;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #333333;
}

.quote span.text {
    display: block;
    margin-bottom: 5px;
    font-size: large;
    font-style: italic;
}

.quote small.author {
    font-weight: bold;
    color: #3677E8;
}

.quote .tags {
    margin-top: 10px;
}

.tag {
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    font-size: small;
    background-color: #7CA3E6;
}

.pager {
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.pager {
    padding-left: 0;
    margin: 22px 0;
    list-style: none;
    text-align: center;
}
.pager li {
    display: inline;
}
.pager .next>a, .pager .next>span {
    float: right;
}
.pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 15px;
}

.disabled {
    color: #333333;
    cursor: not-allowed;
}

.author-details {
    width: 80%;
}

.author-description {
    text-align: justify;
    margin-bottom: 20px;
}

body {
    background: linear-gradient(to bottom right, #fcc5c5, #bdf4ff);
}
.footer, .header-top {
    background-color: #cacbcc;
    padding: 20px 0;
}

.header-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #cacbcc;
    padding: 10px 0;
    text-align: center;
    z-index: 1000; /* Встановлюємо вищий зіndex для відображення поверх інших елементів */
}
.header-box {
    margin-top: 60px; /* Adjust according to the height of the header top */
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #cacbcc;
    padding: 10px 0;
    text-align: center;
}
.content {
    margin-top: 50px; /* Adjust according to the height of the Header Top */
    margin-bottom: 50px; /* Adjust according to the height of the Footer */
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0; /* Додано відступи зверху та знизу */
    padding-left: 50px;
    padding-right: 50px;

}

@media only screen and (max-width: 600px) {
    .header-container {
        padding-left: 0;
        padding-right: 0;
    }
    /* Додайте стилі для мобільного меню тут */
}

/* Для малих пристроїв (наприклад, смартфонів) */
@media only screen and (max-width: 480px) {
    .button {
        padding: 15px 20px; /* Змініть розмір відповідно до вашого дизайну */
        font-size: 14px; /* Змініть розмір шрифту відповідно до вашого дизайну */
    }
}

/* Для більших пристроїв (наприклад, планшетів) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .button {
        padding: 10px 15px; /* Змініть розмір відповідно до вашого дизайну */
        font-size: 12px; /* Змініть розмір шрифту відповідно до вашого дизайну */
    }
}



}

.container.content {
    margin-top: 170px; /* Відступ зверху */
}